.portfolio {
	width: 100%;

	.title {
		font-size: 1.5rem;
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;

		.mini-card {
			@include mini-card;
			@include flexCenter;
			justify-content: flex-start;
			gap: 1rem;
			width: 100%;

			a {
				color: white;
			}

			.lead {
				.screenshot-holder {
					overflow: hidden;
					margin: 2rem 0;

					.screenshot {
						transition: 1s ease;
						pointer-events: all;

						&:hover {
							transform: scale(1.2);
						}

						@include mq(1023px) {
							height: unset;
						}
					}
				}

				.title {
					@include mq(1023px) {
						font-size: 1.2rem;
					}
				}

				.text {
					padding-top: 1rem;
				}

				.text-g {
					text-align: center;
				}

				a {
					color: white !important;
				}
			}

			.icons {
				display: flex;
				align-items: center;
				gap: 1rem;

				.icon {
					font-size: 3rem;
					color: rgba($color: $white, $alpha: 0.8);
					position: relative;

					&::after {
						content: attr(data-lang);
						@include titleBox;
						bottom: 0;
						padding: 0.3rem;
						max-width: 2.4rem;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						transform: translateY(-1rem);

						@include mq(2560px) {
							font-size: 0.7rem;
						}

						@include mq(1024px) {
							font-size: 0.5rem;
						}
					}

					&:hover {
						&::after {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
			}
		}
	}
}
