.about {
	.mini-card {
		@include mini-card;
		display: grid;
		grid-template-columns: 30% 70%;
		align-items: center;

		@include mq(768px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}

		.tag {
			height: 7rem;
			width: 10rem;
			object-fit: contain;
		}

		.text {
			.blog-link {
				color: white;

				&:hover {
					color: $secondary-blue;
				}
			}
		}

		.socials {
			display: flex;
			gap: 1rem;
			width: 100%;
			height: 100%;
			font-size: 1.5rem;
			align-items: center;

			@include mq(768px) {
				font-size: 1rem;
			}

			.link {
				display: flex;
				background: coral;
				padding: 1rem;
				border-radius: 50%;
				color: white;
				border: 2px solid transparent;

				&:nth-child(1) {
					background: rgb(23, 120, 242);
				}
				&:nth-child(2) {
					background: rgb(13, 102, 194);
				}
				&:nth-child(3) {
					background: rgb(29, 161, 242);
				}
				&:nth-child(4) {
					background: rgb(240, 0, 117);
				}
				&:nth-child(5) {
					background: rgb(242, 6, 4);
				}
				&:nth-child(6) {
					background: rgb(0, 0, 0);
				}

				&:focus,
				&:active,
				&:hover {
					transform: translateY(-1rem);

					@include mq(768px) {
						transform: translateY(0);
						border: solid 1px white;
					}
				}
			}
		}
	}
}
