$primary-color: #37ed53;
$secondary-color: #0cf277;
$tertiary-color: #00dba7;
$primary-blue: #0ce3f2;
$secondary-blue: #109de8;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	overflow-x: hidden;
	transition: all 0.2s;
}

%flex {
	display: flex;
	align-items: center;
}

@mixin flexCenter {
	@extend %flex;
	justify-content: center;
	flex-direction: column;
}

@mixin button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

@mixin mq($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}

.up-icon {
	@include button;
	font-size: 4rem;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	opacity: 0.7;
	filter: invert(0.8);
}
