.education {
	.timeline {
		margin-top: 2rem;

		@include mq(1170px) {
			width: 100% !important;
		}

		.date {
			font-weight: lighter;

			@include mq(1170px) {
				display: none;
			}
		}

		.round {
			@include mq(1170px) {
				margin-left: 0.3rem;
			}
		}

		.vertical-timeline-element-content {
			@include mq(1170px) {
				width: 80% !important;
			}
		}
	}
}
