.experience {
	.timeline {
		margin-top: 2rem;

		.vertical-timeline {
			padding: 1rem !important;
			overflow: visible !important;
		}

		.timeline-image {
			width: 3rem;
			height: 3rem;
			object-fit: contain;
		}

		.date {
			@include mq(768px) {
				display: none;
			}
		}

		.round {
			@include mq(768px) {
				margin-left: 0.3rem;
			}
		}

		@include mq(768px) {
			width: 100% !important;
		}

		.vertical-timeline-element-content {
			@include mq(768px) {
				width: 80% !important;
			}
		}
	}
}
