.globe-wrapper {
	background: black;
	height: 100vh;
	overflow: hidden;

	.sky {
		height: 100%;
		width: 100vw;
		object-fit: cover;
		transform: scale(2);
	}

	.globe {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
