.globe-wrapper {
	background-image: linear-gradient(
			to bottom,
			rgba($primary-blue, 0.6),
			rgba($primary-color, 0.6) 60%
		),
		url("sky.png");
	height: 100vh;
	position: relative;
	overflow: hidden;

	.globe {
		cursor: pointer;
		position: absolute;
		right: 0;
		bottom: 0;

		@include mq(768px) {
			width: 100vw;
		}
	}
}
