.hero {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include flexCenter;

	.pill {
		background: rgba($color: $primary-color, $alpha: 0.5);
		padding: 1.5rem;
		border-radius: 1000px;
		color: white;
		text-align: center;

		.title {
			@include mq(768px) {
				font-size: 1.2rem;
			}
		}
	}

	.down {
		margin-top: 2rem;
		@include button;
		animation: bounce 2s linear infinite alternate;

		.icon {
			filter: invert(1);
			font-size: 4rem;
		}

		@keyframes bounce {
			0% {
				transform: translateY(0);
			}
			25% {
				transform: translateY(-10px);
			}
			50% {
				transform: translateY(0px);
			}
			100% {
				transform: translateY(-10px);
			}
		}

		&:hover {
			transform: translateY(-10px);
		}
	}
}
