.hero {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include flexCenter;

	.pill {
		background: rgba($color: $primary-color, $alpha: 0.5);
		padding: 1.5rem;
		border-radius: 1000px;
		color: white;
		text-align: center;

		.title {
			@include mq(768px) {
				font-size: 1.2rem;
			}
		}
	}
}
