.holder {
	min-height: 100vh;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.52),
			rgba(255, 255, 255, 0.73) 60%
		),
		url("sky.png");
	@include flexCenter;

	.card {
		border-radius: 10px;
		padding: 2rem;
		box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: 0.4);
		height: 70vh;
		width: 70vw;
		display: grid;
		grid-template-columns: 30% 70%;
		gap: 2rem;
	}
}
