.holder {
	min-height: 100vh;
	background-image: linear-gradient(
			to bottom,
			rgba($primary-color, 0.6),
			rgba($primary-blue, 0.6) 60%
		),
		url("sky.png");
	@include flexCenter;
	color: white;

	.card {
		border-radius: 10px;
		height: 70vh;
		width: 70vw;
		display: grid;
		grid-template-columns: 30% 70%;

		.sidebar {
			min-height: 100%;
			background: rgba($color: white, $alpha: 0.5);
			padding: 2rem;
			@include flexCenter;

			.profile {
				.profile-img {
					width: 10rem;
					height: 10rem;
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}

		.content {
			min-height: 100%;
			background: rgba($color: white, $alpha: 0.2);
			padding: 2rem;
		}
	}
}
