.portfolio {
	width: 100%;

	.cards {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;

		.mini-card {
			@include mini-card;
			@include flexCenter;
			justify-content: flex-start;
			gap: 1rem;
			width: 45%;

			@include mq(768px) {
				width: 100%;
			}

			a {
				color: white;
			}

			.icons {
				display: flex;
				align-items: center;
				gap: 1rem;

				@include mq(500px) {
					flex-direction: column;
				}

				.icon {
					font-size: 3rem;
					color: $secondary-blue;
				}
			}
		}
	}
}
