.tools {
	.title {
		margin-bottom: 2rem;
	}

	.main-content {
		background: none !important;
		padding: 0 !important;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		row-gap: 1rem;

		a {
			.tools-img {
				width: 100%;
			}
		}

		.tools-img {
			width: 20%;
			transition: transform 0.2s;

			&:hover {
				transform: scale(0.9);
			}
		}
	}
}
