.tools {
	.title {
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}

	.main-content {
		background: none !important;
		padding: 0 !important;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		row-gap: 1rem;

		a {
			.tools-img {
				width: 100%;
			}
		}

		.tools-img .tools-img,
		.tools-img {
			position: relative;
			pointer-events: all;

			&::after {
				content: attr(data-tool);
				@include titleBox;
				width: max-content;
				padding: 0.3rem;
				bottom: 0;
				font-size: 0.7rem;
			}

			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}

		.tools-img {
			width: 20%;
			transition: transform 0.2s;

			img {
				width: 100%;
			}

			&:hover {
				transform: scale(0.9);
			}
		}
	}
}
