$color-button: #d6ae7c;
$color-text-button: #1d1812;

$color-text: #292725;
$color-bg: #dad4d1;
$color-link: #a99c90;
$color-link-hover: #292725;
$color-font-circle: #7b7772;
$color-button: #a99c90;
$color-text-button: #272524;
$color-text-circle-1: #272524;
$color-text-circle-2: #272524;
$color-text-circle-3: #272524;
$color-text-circle-4: #272524;
$font-circle-1: serif;
$font-weight-circle-1: 400;
$font-circle-2: serif;
$font-weight-circle-2: 300;
$font-circle-3: serif;
$font-weight-circle-3: 400;
$font-circle-4: sans-serif;
$font-weight-circle-4: 300;

.body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	color: $color-text;
	background-color: $color-bg;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	main {
		.circles {
			pointer-events: none;
			position: fixed;
			width: var(--dim);
			height: var(--dim);
			top: calc(50% - var(--dim) / 2);
			left: calc(50% - var(--dim) / 2);

			.circles__text {
				text-transform: uppercase;
				transform-origin: 700px 700px;
				will-change: transform, opacity;

				&.circles__text--1 {
					font-size: 25vmin;
					font-size: clamp(170px, 25vmin, 180px);
					font-family: $font-circle-1;
					font-weight: $font-weight-circle-1;
					fill: $color-text-circle-1;
				}

				&.circles__text--2 {
					font-size: 17vmin;
					font-size: clamp(136px, 17vmin, 153px);
					font-family: $font-circle-2;
					font-weight: $font-weight-circle-2;
					fill: $color-text-circle-2;
				}

				&.circles__text--3 {
					font-size: 13.5vmin;
					font-size: clamp(110px, 13.5vmin, 120px);
					font-family: $font-circle-3;
					font-weight: $font-weight-circle-3;
					fill: $color-text-circle-3;
				}

				&.circles__text--4 {
					font-size: 9.5vmin;
					font-size: clamp(85px, 9.5vmin, 94px);
					font-family: $font-circle-4;
					font-weight: $font-weight-circle-4;
					fill: $color-text-circle-4;
				}
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			width: 100vw;
			// padding: 2rem;
			height: 100vh;
			position: relative;
			justify-content: flex-start;
			align-items: center;
			text-align: center;
			opacity: 0;
		}

		.enter {
			display: block;
			border: 0;
			width: var(--dim-button);
			height: var(--dim-button);
			position: absolute;
			left: calc(50% - var(--dim-button) / 2);
			top: calc(50% - var(--dim-button) / 2);
			font: inherit;
			font-weight: 500;
			cursor: pointer;
			background: none;
			color: $color-text-button;
			padding: 0;
			opacity: 0;

			&:focus,
			&:hover,
			&:active {
				outline: none;
			}

			.enter__bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: $color-button;
			}

			.enter__text {
				position: relative;
			}
		}

		@media screen and (min-width: 53em) {
			.body {
				main {
					.content {
						height: 100vh;
						justify-content: center;
						text-align: left;
					}
				}
			}
		}
	}
}
